@import url('https://fonts.googleapis.com/css?family=Montserrat');
#content {
    margin: 0 auto;
    max-width: 960px;
    background-color: white;
    border-radius: 15px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    background-color: #F5ECE6;
}

header,
footer {
    background-color: #73729C;
    color: white;
    padding: 4vh;
    margin: 1em 0;
    text-align: center;
}

main {
    margin: 3em;
}

a {
    color: #4B8C8E;
}

.self {
    box-shadow: 0px 0px 14px #000;
    border-radius: 7px;
}

footer a {
    color: white;
}