/* CSS for Design Principles page */

@import url('https://fonts.googleapis.com/css?family=Baskervville|Montserrat&display=swap');
body {
    margin: 0 auto;
    max-width: 960px;
    font-family: 'Montserrat', sans-serif;
    background-color: #F5ECE6;
}

nav {
    border-bottom: 1px solid #00000029;
    padding: 1.5rem 4rem;
    background-color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    margin: 0px 0px 20px 0px;
    padding: 1px 1rem;
    line-height: 1.75rem;
    box-sizing: border-box;
}

header {
    background-color: white;
}

h1 {
    text-align: center;
    color: white;
    background-color: #73729C;
    font-size: 2rem;
    line-height: 2.5rem;
}

h2 {
    padding: 1rem 0 .5rem 0;
    margin: 30px 0 30px;
}

p {
    padding: 0;
    margin: 40px 0;
}

a {
    color: #4B8C8E;
}

img {
    box-shadow: rgb(0, 0, 0) 0px 0px 14px;
    border-radius: 20px;
    margin: 10px 25px 0 0;
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #73729C;
    color: white;
    padding: 4vh;
    margin: 1em 0;
    text-align: center;
}

footer a {
    color: white;
}