@import url('https://fonts.googleapis.com/css?family=Montserrat');
#content {
    margin: 0 auto;
    max-width: 960px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header,
footer {
    background-color: crimson;
    color: white;
    padding: .75em 5em;
    border-radius: 15px;
    margin: 1em 0;
}

main {
    margin: 3em;
}

a {
    color: crimson;
}

.self {
    float: right;
}

footer a {
    color: white;
}