@import url('https://fonts.googleapis.com/css?family=Bangers|Bevan|Raleway&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

main,
footer {
    margin: 0px auto;
    max-width: 95%;
}

header {
    background-color: #264653;
    padding: 1em;
}

h1 {
    color: white;
}

h2 {
    color: #2A9D8F;
}

h1,
h2 {
    text-align: center;
    font-family: 'Bevan', serif;
    font-weight: normal;
}

p {
    font-family: 'Raleway', sans-serif;
    margin: 10px;
}

section {
    background-color: white;
    text-align: center;
    padding: 1em;
    margin: 5px 5px;
    border: 1px solid grey;
    max-width: 90%;
}

section:hover {
    background-color: #E9C46A;
}

img {
    width: 337px;
    max-width: 90%;
}

.cards {
    box-shadow: 0 0 30px 0px #848484;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    background-color: #dddddd;
    max-width: 90%;
    padding: 15px;
}

footer {
    background-color: #264653;
    color: white;
    padding: 2em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    max-width: 100%;
}