@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    nav a:hover {
        background-color: #E76F51;
        color: #264653;
    }
    body,
    main,
    footer {
        font-size: 16pt;
    }
    header {
        display: grid;
        grid-template-columns: 1fr 150px 2fr 1fr;
    }
    h1 {
        font-size: 2.2em;
        padding-left: .1em;
        grid-column: 3/4;
        text-align: left;
        padding-bottom: 0;
        align-self: end;
    }
    header p {
        grid-column: 3/4;
        grid-row: 2/3;
        text-align: left;
        margin: 0 0 15px;
    }
    .icon {
        /*width: 100px;*/
        grid-column: 2/3;
        grid-row: 1/3;
        padding-top: 10px;
        float: left;
    }
    .weatherSummaryTxt {
        position: absolute;
        top: 25px;
        left: 25px;
        background-color: white;
        padding: 1.5rem;
        font-size: 1.2rem;
        box-shadow: 0 0 30px #111;
        opacity: .8;
    }
    .weatherSummaryTxt p {
        margin: 0;
        padding: 0;
        line-height: 1.6rem;
    }
    article img {
        float: right;
        margin: 15px;
        margin-right: 0px;
    }
    .flex {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: fit-content;
    }
    .fivedaycol {
        font-family: 'Raleway', sans-serif;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
        border-left: 1px solid #333;
        background-color: #E9C46A;
        color: #264653;
        text-align: center;
    }
    .flex div:last-child {
        border-right: 1px solid #333;
    }
    .label {
        display: block;
        padding: 5px;
        font-weight: 700;
        border-bottom: 1px solid #333;
        background-color: #264653;
        color: white;
    }
    .flex div img {
        padding: 5px;
    }
    .temperature {
        display: block;
        padding: 0 5px 5px;
    }
    .fiveday {
        display: block;
    }
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
    .address {
        grid-row: 2/3;
        grid-column: 2/3;
        align-self: end;
    }
    .phoneemail {
        grid-row: 3/4;
        grid-column: 2/3;
        align-self: center;
    }
    .socialmedia {
        grid-row: 4/5;
        grid-column: 2/3;
    }
    .map {
        display: block;
        grid-row: 2/5;
    }
    .contact p {
        margin: 0;
    }
}