main {
    max-width: 960px;
    margin: 0 auto;
    font-size: 1.4em;
}

nav {
    font-size: 1.4em;
}

.header-logo {
    top: 4.5em;
    left: 4.5em;
    font-size: 1.2em;
}

.description-img {
    max-width: 600px;
}